* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(58, 58, 58);
}

.nav-link {
    color: white;
    text-shadow: 0px 0px 15px rgba(229, 255, 0, 1);
}

.nav-link:hover {
    color: aqua;
}

.current {
    color: rgb(0, 14, 136);
    text-shadow: 0px 0px 15px rgb(0, 38, 255);
}

.logo {
    border-radius: 50px;
    margin-top: 4px;
    margin-right: 300px;
}

.color {
    height: 823px;
    background-color: rgb(100, 100, 100);
    color: white;
}

.person img {
    box-shadow: 0px 19px 19px 26px rgba(160, 101, 255, 0.49);
    -webkit-box-shadow: 0px 19px 19px 26px rgba(160, 101, 255, 0.49);
    -moz-box-shadow: 0px 19px 19px 26px rgba(160, 101, 255, 0.49);
    border-radius: 200px 0px 200px 172px;
    -webkit-border-radius: 200px 0px 200px 172px;
    -moz-border-radius: 200px 0px 200px 172px;
    background: #de0a15;
}

.text {
    margin-top: 60px;
}